[Unit]
Description=E-Paper Clock Service
After=network.target

[Service]
ExecStart=/usr/bin/python -u image.py
WorkingDirectory=/home/paper/paperboy
StandardOutput=inherit
StandardError=inherit
Restart=always
User=paper

[Install]
WantedBy=multi-user.target