[Unit]
Description=E-Paper Clock Service
After=network.target

[Service]
ExecStart=/usr/bin/python -u writeDisplay.py
WorkingDirectory=/home/paper/paperboy
Type=simple

[Install]
WantedBy=multi-user.target